

.wrapper {
    width: 90vw;
    margin: 0 auto;
    height: 100vh;
    background-color: #eee;
}

/*Header*/

.head-container {
    height: 15%;
    width: 100%;
    text-align: center;
    display: flex;
}

.head-container div:first-child {
     width: 5%
}

.head-container div:nth-child(2) {
    width: 25%;
}

.head-container div {
    position: relative;
    height: 100%;
    width: 17%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
}

.head-container .logo {
    height: 10vh;
    position: relative;
    top: 50%;
}

.head-container h1 {
    display: inline-block;
    font-size: 7vh;
}

.head-container .reset #resetBtn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.spinner:hover {
    animation-play-state: paused;
}

@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg) translateY(-50%);    }
    to   { -webkit-transform: rotateY(-360deg) translateY(-50%); }
}

@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg) translateY(-50%);
        -ms-transform: rotateY(0deg) translateY(-50%);
        transform: rotateY(0deg) translateY(-50%);
    }
    to {
        -moz-transform: rotateY(-360deg) translateY(-50%);
        -ms-transform: rotateY(-360deg) translateY(-50%);
        transform: rotateY(-360deg) translateY(-50%);
    }
}


/*Game Area*/

.game-area {
    background-color: #1b6d85;
    position: relative;
    padding: 2% 10%;
    width: 100%;
    height: 85%;
    text-align: center;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card-container {
    height: auto;
    width: 13%;
    margin: 1%;
    position: relative;
    perspective: 800px;

    /*flex-shrink: 1;*/
    /*align-items: center;*/

}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card {
    transform-origin: right center;
}

.card img {
    margin: 0;
    display: block;
    position: absolute;
    width: auto;
    height: 100%;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
    border: 10px solid #000;
    box-sizing: border-box;
}

.card.flipped {
    transform: translateX(-110%)rotateY(-180deg);
}